Makefile.in
Makefile
*.o
*.lo
*.la
build-aux
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache
configure
version.m4
README
conf*.dir
config.h
config.h.in
config.log
config.status
doc/ggen.1
doc/ggen.3
ggen.pc
libtool
src/.deps/
src/.libs/
src/ggen
stamp-h1
tests/.deps/
interfaces/python/build
interfaces/python/ggen/*.pyc

